<h1>Login</h1>
<div class="container" style="padding-top:40px;">
    <div class="row">  
        <div class="col-md-6 mx-auto">  
            <div class="card mx-4">  
                <div class="card-body p-4">
                    <div [hidden]="submitted">
                        <form #login="ngForm">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" required email [(ngModel)]="user.email" name="email" #email="ngModel">
                                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                    Email is required
                                </div>
                            </div>
                                  
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter Password" required [(ngModel)]="user.password" name="password" #password="ngModel">
                                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                    Password is required
                                </div>
                            </div>
                                  
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-dark" (click)="checkUser() " [disabled]="!login.valid">Login</button>
                            </div>
                        </form>
                        <div style="float: right">
                            <a routerLink='/forgot'>Forgot Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>